.html, .body{
    height: 100%;
   }
  
.accordion-item,  .accordion-item:focus, .accordion-item:active,
.accordion-header, .accordion-header:focus,
.accordion-button, .accordion-button:focus, 
.accordion-body, .accordion-button:link, .accordion-button:visited, .accordion-button:hover{
    outline: none !important;
    background:#f8f9fa !important;
    border:none;
    box-shadow:none !important;
    padding: 0ch;
}

.accordion-button::after , .accordion-button::after {
    order: -1; 
    margin-left: 0; 
    margin-right:0.65em;
}

.alinhamento {
	left: 25%;
}

.accordion-body {
    padding-left: 7.5ch;
}

.accordion-header{
    padding-left: 1.5ch;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

            * {
    box-sizing: border-box;
    }
.navbar-custom {
        background-color: #1a679f;
}
    
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    }

.row:after {
    content: "";
    display: table;
    clear: both;
    }

 
img {
    height: auto;
    }

.img-custom {
  width: auto !important;
  max-width: none;
  flex: none;
}

.nav-pills a.nav-link.active {
    background-color: rgba(201, 141, 137, 0.116);
    border-radius: 0%;
    color: #2b2c2c;
}

.nav-pills a.nav-link {
    color: #3f3e3e;
    font-weight: 500;

}

#navbar-progress{
    min-height: 100%;
    background-color: #f8fafc;
}

#nivel1 {
    color: black;
    font-weight: 700;
}

#nivel2{
    color: #3f3e3e;
    font-weight: 500;
}

h1{
    font-weight: 600;
}

h2{
    margin-top: 3rem;
}

hr{
    margin-bottom: 1rem;;
}
   
h3{
    margin-bottom: 2rem;
    color: #46637e;
    font-weight: 600;
}

h4{
    margin-top: 4.5rem !important;
    margin-bottom: 1.2rem;
    font-weight: 350;
}

h5{
    margin-top: 4rem !important;
    margin-bottom: 1.2rem;
    font-weight: 300;
}

p{
    font-weight: 375;
}

body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
	height: 100%; width:0%;
	z-index: 30;
	position: fixed; top: 0; right: 0; 
	opacity:0; visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
	z-index:10; 
	transition:opacity .3s ease, width 0s;
	opacity:1;
	width:100%;
	visibility:visible;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
	
	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
		border-radius:0; 
		display:block;
		position: fixed;  top: 0; left:0;
		height: 100%; width:80%;
		z-index: 1200; 
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible; 	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}

}	


